%h1 This is an H1
%h2 This is an H2
%h3 This is an H3
%h4 This is an H4
%h5 This is an H5
%h6 This is an H6
%p This is Paragraph Text
%a{href: '#'} This is an Anchor
%form
  %label
    This is a Label
    %input{name: 'example', type: 'text', placeholder: 'This is a Placeholder'}
  %button This is a button
