---
title: Home page
published: true
---
!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Boilerplate
    {{ 'application.css' | stylesheet_tag }}
    {{ 'modernizr.js' | javascript_tag }}
    {% inline_editor %}
  %body
    -#{% include navigation %}
    {% block 'main' %}
    %main
      .container
        .button
          Test
    -#{% include footer %}
    {% endblock %}